.App{
    margin:0 auto;
}
body {
    width: 100%;
    height: 100%;
    margin:0 auto;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/back3.jpg");
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000000;

}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Ropa Sans', sans-serif;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px ) {
    
    .menu{
        height: 40px;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 5px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
    header {

        background-image: url("../images/back3.jpg");
        width: 100%;
        background-size: cover;
    }

}

.type-writer{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.App-header {
    width: 100%;
    /*background-color: #282c34;*/
    background-image: url("../images/back3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

* { color:#fff; text-decoration: none;}

#ad1{
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}

#ad2{
    position: absolute;
    float: right;
    right: 30px;
    display:block;
    top:1550px;
}

#admob1{
    display: block;
}
#admob2{
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.align1{
margin-left: 300px;
}
.align2{
    position: relative;
    left: 180px;
    top: 20px;

}
.flip-card-front>img{
    width: 580px;
    height: 450px;
}
.flip-card-back>img{
    width: 580px;
    height: 450px;
}

#flip-phone{
    display: none;
}


@media (max-width: 786px)
{
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .align1{
        margin-top: 20px;
    }


    .align2{
        margin-left: -50px;
    }
    
    .flex-container>card {

    }
    .align3{
        margin-top: 60px;
        margin-left: 10px;

    }
    .align4{
        margin-left: 20px;
    }
    #ad1{
        display: none;
    }
    #ad2{
        display: none;
    }
    #flip-phone{
        display:block;
    }
    #flip-card-phone>img{
        width: 100%;
        height: 300px;
    }
    #flip-dektop{
        display: none;
    }


}

@media screen and (max-width: 1060px) {

    .align1{
        margin-left: 20px;

    }

    .align2{
        margin-left: -160px;
    }

    .flex-container>card {

    }
    .align3{
        margin-top: 60px;
        margin-left: 10px;

    }
    .align4{
        margin-left: 20px;
    }
    #ad1{
        display: none;
    }
    #ad2{
        display: none;
    }

    #flip-card-phone>img{
        width: 100%;
        height: 300px;
    }



}
.wrapper{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(10, [row-start] 50px);
    grid-gap:20px;
    -ms-grid-column-align: center;
}
.card{
    grid-column: col-start 9 / 12;
    grid-row: row-start 2;
    grid-gap: 2px;
    max-width: 500px;
    height:300px;
    background-color: #F6F6F8;
}

.flip-card {
    grid-column: col-start 4 / span 6;
    grid-row: row-start 2;
    background-color: transparent;
    width:580px;
    height:420px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width:580px;
    height:450px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
* {
    box-sizing: border-box;
}

.flip-position{
    position: absolute;
    top: 5px;
    left: 180%;
}
.dot1 {
    height: 25px;
    width: 25px;
    background-color: #ff081e;
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 25px;
    width: 25px;
    background-color: #ffab03;
    border-radius: 50%;
    display: inline-block;
}
.dot3 {
    height: 25px;
    width: 25px;
    background-color: #04bb08;
    border-radius: 50%;
    display: inline-block;
}


.product {
    position: absolute;
    top: 190%;
    color: #ff290c;
    background-color: #bbbbbb;
}

[type=radio] {
    display: none;
}

#about-phone{
    display: none;
}
@media screen and (max-width: 768px) {
    #about-phone{
        display: none;
        background-image: url("../images/back9.jpg");
        width: 400px;
        height:585px;
        background-repeat: no-repeat;
    }
}
.about-head-phone{
    color: black;
    margin-top: 60px;
    margin-left: 100px;
    font-family: 'Acme', sans-serif;

 }
.about-descrpition-phone{
    width: 100%;
    height: 480px;
    font-family: 'Itim', cursive;


}
@media screen and (max-width: 768px) {
 #about{
     display: none;
 }
    #about-phone{
        display: block;
    }
}

.about-background{
    grid-column: col-start 7    ;
    grid-row:row-start 1;
    background-image: url("../images/back8.jpg");
    width: 1500px;
    height: 769px;
    background-repeat: no-repeat;
    opacity: 80%;
}
.about-head{
    position: relative;
    top: 200px;
    margin-left: 100px;
    font-family: 'Acme', sans-serif;
    font-size: 80px;
    color: black;

}
.decription{
    color: black;
    width: 700px;
    position: relative;
    margin-left: 500px ;
    font-size:25px;
    font-family: 'PT Sans', sans-serif;

}
#product{
    position: relative;
    left: -100px;
}
#slider {
    position: relative;
    top: 200px;
    left: 100px;
    height: 25vw;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

#slide1 { background-image: url("../images/slide1.jpg"); background-repeat: no-repeat;background-position: center;background-size: cover;}
#slide2 { background-image: url("../images/slide2.jpg"); background-repeat: no-repeat;background-position: center;background-size: cover;}
#slide3 { background-image: url("../images/slide3.jpg"); background-repeat: no-repeat;background-position: center;background-size: cover;}
#slide4 { background-image: url("../images/slide4.jpg"); background-repeat: no-repeat;background-position: center;background-size: cover;}
#slide5 { background-image: url("../images/slide5.jpg"); background-repeat: no-repeat;background-position: center;background-size: cover;}

@media (max-width:786px)  {
    #slider{
   height: 200px;
        position:relative;
        width:400px;
        top: 50px;
        left: 80px;
    }
}


#contact-id{
    display: block;
}
#contact-phone{
    display: none;
}
@media screen and (max-width: 768px) {
    #contact-id{
        display: none;
    }
    #contact-phone{
        display: block;
    }
}
#contact-phone>h1{
    color: blue;
    font-family: 'Alegreya', serif;
    margin-left: 60px;
    margin-top: -40px;
    font-size: 60px;
    text-decoration: none;
    border-bottom: 4px solid #1f1bff;
    width: 280px;

}

.contact-img{

}
.contact-form{
    box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
    padding: 20px;
}
.contact-form>form>label>input{
    width: 430px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 4px solid ;
}
.contact-form>form>label>textarea{
    border: 4px solid;
}
.contact>h1 {
    color: blue;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    text-decoration: none;
    border-bottom: 4px solid #1f1bff;
    width: 280px;
}
.contact > img{
    grid-column: col-start 3;
    grid-row: row-start 5;
    width: 700px;
    height: 450px;

}
.contact>form{
    grid-column: col-start 4 /span 10;
    grid-row: row-start 5;
    padding: 30px;
}
.contact>form>textarea{
    background: transparent;
    border: none;
    border-bottom: 4px solid;
}
.contact>form>label>input{
    width: 500px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 4px solid ;
}




